ingress:
  enabled: true
  hosts:
    - host: bazarr.{{ .Values.host }}
      paths:
        - path: /
          pathType: ImplementationSpecific

environment:
  - name: PUID
    value: {{ .Values.perm.uid | quote }}
  - name: PGID
    value: {{ .Values.perm.gid | quote }}
